.toggleTheme {
  align-self: flex-end;
  padding: 20px;
}

// credit: https://codepen.io/havardob/pen/VwKEjWW
.toggleThemeInput {
  display: none;
  &:checked + .toggleThemeLabel {
    transform: rotate(360deg);
    background-color: #000;
    &:before {
      transform: translateX(47px);
      background-color: #fff;
    }
  }
}

.toggleThemeLabel {
  display: flex;
  width: 90px;
  height: 44px;
  border: 6px solid;
  border-radius: 99em;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;

  &:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    top: 6px;
    left: 5px;
  }
}
