$colors: var(--yellow-colombia), var(--blue-colombia), var(--red-colombia);

.wrapperConfetti {
  position: absolute;
  min-height: 80vh;
  width: 80%;

  @media only screen and (min-width: 600px) {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    width: 85%;
  }
}

.confetti {
  position: absolute;
}

@for $i from 0 through 150 {
  $w: random(8);
  $l: random(100);
  .confetti:nth-child(#{$i}) {
    width: #{$w}px;
    height: #{$w * 0.4}px;
    background-color: nth($colors, random(3));
    top: -10%;
    left: unquote($l + "%");
    opacity: random() + 0.5;
    transform: rotate(#{random() * 360}deg);
    animation: drop-#{$i}
      unquote(4 + random() + "s")
      unquote(random() + "s")
      infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l + random(15) + "%");
    }
  }
}
